<%= form_for([@postulante, @estudio]) do |form| %>
  <% if @estudio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estudio.errors.count, "error") %> prohibited this estudio from being saved:</h2>

      <ul>
      <% @estudio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
        <%= form.label :nivel %>
        <%= form.select :nivel, options_for_select(['Primaria', 'Secundaria', 'Universitaria', 'Posgrado']) %>
      </div>

      <div class="field">
        <%= form.label :titulo %>
        <%= form.text_field :titulo %>
      </div>

      <div class="field">
        <%= form.label :institucion %>
        <%= form.text_field :institucion %>
      </div>

      <div class="field">
        <%= form.label :situacion %>
        <%= form.select :situacion, options_for_select(['Completado', 'Cursando Actualmente', 'No Concluido']) %>
      </div>
      <div class="field">
        <%= form.label :año_de_graduación %>
        <%= form.number_field :anho_graduacion %>
      </div>

      <div class="actions">
        <%= form.submit "Agregar Estudios" %>
  </div>
<% end %>
