<%= form_with(model: capacidad, local: true) do |form| %>
  <% if capacidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capacidad.errors.count, "error") %> prohibited this capacidad from being saved:</h2>

      <ul>
      <% capacidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :nivel %>
    <%= form.text_field :nivel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
