<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @capacidad.tipo %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @capacidad.nivel %>
</p>

<%= link_to 'Edit', edit_capacidad_path(@capacidad) %> |
<%= link_to 'Back', capacidads_path %>
