 <% if user_signed_in? %>
 <div class="row center-xs">
  <div class="col-xs-12 col-md-10">
     <div class="box text-left">
		<table class="table">
			
			<thead>
		            <tr>
		              <th>Nombre</th>
		              <th>Contacto</th>
		              <th>Correo Electrónico</th>
		              <th colspan="3"></th>
		            </tr>
		          </thead>

		          <tbody>
					<% @postulantes.each do |postulante| %>
						<tr>
							<td><%= postulante.nombres %></td>
							<td><%= postulante.telefono %></td>
							<td><%= postulante.email %></td>
							<td><%= link_to 'CV', postulante, class:"btn white" %></td>
							<td><%= link_to 'Editar', edit_postulante_path(postulante), class:"edit" %></td>
					        <td><%= link_to "Eliminar", postulante, method: :delete, class:"red", data: { confirm: '¿Estas seguro que desea Eliminar?' } %></td>
					    </tr>
					<% end %>
		          </tbody>
		 </table>
     </div>
 </div>
</div>
<%end%>